<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/auth.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script th:inline="javascript">
        let frontendData = [[${frontendData}]];
    </script>
</head>
<body class="body">

<div id="header"></div>

<div class="main">
    <div class="left"></div>
    <div id="registration"></div>
</div>

<script type="module" src="/js/auth/registration.js"></script>
<script type="module" src="/js/common/header.js"></script>

</body>
</html>