<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Сообщения</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/messenger/messenger_width.css">
    <link rel="stylesheet" href="/css/messenger/contact_list.css">
    <link rel="stylesheet" href="/css/messenger/msg_block.css">
    <link rel="stylesheet" href="/css/messenger/message.css">
    <link rel="stylesheet" href="/css/messenger/message_form.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script th:inline="javascript">
        let frontendData = [[${frontendData}]];
        let currentUrl = window.location.href;
    </script>
</head>
<body class="body">

<div id="lastOnlineUpdater"></div>
<div id="header"></div>

<div class="main">
    <div id="leftMenu"></div>
    <div id="messenger"></div>
</div>

<script type="module" src="/js/common/last_online_updater.js"></script>
<script type="module" src="/js/common/header.js"></script>
<script type="module" src="/js/common/left_menu.js"></script>
<script type="module" src="/js/messenger.js"></script>

</body>
</html>